
analysis/bwa/*
!analysis/bwa/.keep
analysis/deeptools/*
!analysis/deeptools/.keep
analysis/igvtools/*
!analysis/igvtools/.keep
analysis/macs2/*
!analysis/macs2/.keep

logs/*
!logs/.keep

qc/bwa/*
!qc/bwa/.keep
qc/fastqc/*
!qc/fastqc/.keep
qc/multiqc/*
!qc/multiqc/.keep

raw_data/*
!raw_data/.keep

runs/*
!runs/.keep

trimmed/*
!trimmed/.keep
